@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

p {
    padding: 0.5em 0 0 0;
    font-size: 1.2em;
    font-family: 'Poppins';
    width: 100%
}

#descricao {
    padding: 0.5em 0 0 5em;
}

.container {
    display: flex;
    background-color: #C33949;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
}

.img-principal {
    display: flex;
}

#serviços {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: start;
    justify-content: left;
    padding: 4em 20em;
}

#vantagens {
    display: flex;
    background-color: #C33949;
    flex-direction: column;
    height: 40%;
    text-align: left;
    align-items: start;
    justify-content: left;
    padding: 4em 20em;
}

#clientes {
    display: flex;
    flex-direction: column;
    height: 40%;
    text-align: left;
    align-items: start;
    justify-content: left;
    padding: 4em 20em;
}

#sobre-a-log {
    display: flex;
    background-color: #C33949;
    flex-direction: column;
    height: 40%;
    text-align: left;
    align-items: start;
    justify-content: left;
    padding: 4em 20em;
}

#titulo {
    display: flex;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 3em;
}

#texto {
    font-family: 'Segoe UI', sans-serif;

}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    
}

#container-serv {
    display: flex;
    justify-content: space-between;
    padding: 0 1em 0 1em;
    width: 100%;
    height: auto;
}

.container-img {
    display: flex;
    justify-content: space-between;
    padding: 0 1em 0 1em;
    width: 50px;
    height: auto;
}

#img {
    display: flex;
    padding: 1em;
}

#img-log {
    display: flex;
    padding: 4em;
    max-width: 25em;
}

#categoria {
    font-weight: bold;
    font-size: 2em;

}
